
IF EXISTS (
    SELECT 1 FROM sys.configurations 
    WHERE NAME = 'Database Mail XPs' AND VALUE = 0)
BEGIN
  PRINT 'Enabling Database Mail XPs'
  EXEC sp_configure 'show advanced options', 1;  
  RECONFIGURE
  EXEC sp_configure 'Database Mail XPs', 1;  
  RECONFIGURE  
END


USE msdb;

-- Create a user on the msdb database
CREATE USER Kevin FOR LOGIN Kevin;

-- Create a Database Mail account  
EXECUTE msdb.dbo.sysmail_add_account_sp  
    @account_name = 'DB Kevin',  
    @description = 'Mail account for admin emails.',  
    @email_address = 'kevinjuliangaitano@gmail.com',  
    @replyto_address = 'kevinjuliangaitano@gmail.com',  
    @display_name = 'DB Automated Mailer',  
    @mailserver_name = 'kevinjuliangaitano@gmail.com',
    @port = 25;  
  
-- Create a Database Mail profile  
EXECUTE msdb.dbo.sysmail_add_profile_sp  
    @profile_name = 'Kevin',  
    @description = 'Profile for admin emails.';  
  
-- Add the account to the profile  
EXECUTE msdb.dbo.sysmail_add_profileaccount_sp  
    @profile_name = 'Kevin',  
    @account_name = 'DB Kevin',  
    @sequence_number = 1;
  
-- Grant the msdb user access to the Database Mail profile
EXECUTE msdb.dbo.sysmail_add_principalprofile_sp
    @profile_name = 'Kevin',
    @principal_name = 'Kevin',
    @is_default = 1;






